.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

*.g.cs
*.g.i.cs
*.i.cs
*.designer.cs
Generated_Code/

packages/
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json

*.settings
*.config
*.cache
*.pdb
*.tmp
*.temp
*.~*
*.log
*.bak
*.resx
*.resources
Thumbs.db